@use "./partials/variables" as *;

@import "node_modules/bootstrap/scss/bootstrap";


// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

// COMMON
body {
    background-color: $bg-color;
    color: $col-white;
}

.ms_container {
    max-width: 1200px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

// UTILITES
.ms_margin-auto {
    margin: 0 auto;
}